name: Build Docker Image

on:
  push:
    branches:
      - assignment-03

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Build Docker image
        run: docker build -t assignment03 .